@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 47.5em;
    margin: 0 auto;
    padding-top: 5em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.75em;
    color: #4d5061;
}

p {
    font-size: 1.25em;
}

a {
    color: #084887;
}