@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

div {
    width: 45em;
    position: relative;
    top: 5em;
    margin: auto;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
    color: #4d5061;
}

p {
    font-size: 1.25em;
}

a {
    color: #084887;
}